.head-class{
    height:60px;
    line-height:60px;
    width: 100%;
    position: fixed;
    zIndex: 1;
    width: 100%;
    background:#ffffff;
    box-shadow: 3px 3px 5px #dddddd;
}
.head-logo{
    float:left;
    width:240px;
    background:#ffffff;
}
.head-menu-main{
    margin-left:240px;
    height:60px;
    line-height:60px;
    position:relative;
    background:#ffffff
}
.head-menu-item{
    background:#ffffff;
    width:80%;
    height:60px;
    line-heighteight:60px;
    text-align:center
}
.head-menu-child-item{
    width:100px;
    display:inline-block;
    height:60px;
    line-height:60px;
    border-bottom: 2px solid transparent;
    border-bottom-color:transparent;
    color:#a5a5a5;
}
.head-active{
    border-bottom-color:#3da8f5;
    color:#434343;
}
span{
    cursor: default;
}
.color-434343{
   color:#434343;
}
.text-center{
    text-align: center;
}