.list-item-title{
    font-size:20px;
    cursor: pointer;
}
.list-item-value{
    font-size:13px;
    color:#a5a5a5;
    margin-top:5px;
}
.list-item-author{
    font-size:12px;
    color:#a5a5a5;
    margin-top:5px;
}
.line{
    height:1px;
    background: #eeeeee;
    margin:10px 0px;
}
.text-center{
    text-align: center;
}
.none-data{
    text-align: center;
    position: relative;
    top:120px;
    height:100px;
    width: 100px;
}
.modalMain .ant-modal-content{
    border-radius: 0px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.modalMain .ant-modal-header {
    padding: 16px 24px;
    border-radius: 0;
    background: none;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
}